<!doctype html>
<html lang="en">

<head>
  <title>Sidebar 01</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/AreaComentario.css">
  <link rel="stylesheet" href="css/ModalDenuncia.css">
  <link rel="stylesheet" href="css/LetraPesquisa.css">
</head>

<body>

  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <div class="p-4 pt-5">
        <a href="alterar.html"><img width="1px" class="img logo rounded-circle mb-4" src="images/quavo.jpg"></a>
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="index.html" class="dropdown-toggle">INÍCIO</a>
          </li>
          <li>
            <a href="publicação.html">ADICIONAR</a>
          </li>
          <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">PESQUISA</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
              <li>
                <a href="pesquisarandom.html">Aleatória</a>
              </li>
              <li>
                <a href="#Letra" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Primeira
                  Letra</a>
                <ul class="collapse list-unstyled" id="Letra">
                  <li>
                    <div class="LetraPesquisa">
                      <div class="LetraButton">
                        <a href="#"><button>A</button></a>
                      </div>
                      <div class="LetraButton">
                        <a href="#"><button>B</button></a>
                      </div>
                      <div class="LetraButton">
                        <a href="#"><button>C</button></a>
                      </div>
                      <div class="LetraButton">
                        <a href="pesquisapalavra.html"><button>D</button></a>
                      </div>
                      <div class="LetraButton">
                        <a href="#"><button>E</button></a>
                      </div>
                    </div>
                    <div class="LetraPesquisa">
                      <div class="LetraButton">
                        <a href="#"><button>F</button></a>
                      </div>
                      <div class="LetraButton">
                        <a href="#"><button>G</button></a>
                      </div>
                      <div class="LetraButton">
                        <a href="#"><button>H</button></a>
                      </div>
                      <div class="LetraButton">
                        <a href="#"><button>I</button></a>
                      </div>
                      <div class="LetraButton">
                        <a href="#"><button>J</button></a>
                      </div>
                    </div>
                    <div class="LetraPesquisa">
                      <div class="LetraButton">
                        <a href="#"><button>K</button></a>
                      </div>
                      <div class="LetraButton">
                        <a href="#"><button>L</button></a>
                      </div>
                      <div class="LetraButton">
                        <a href="#"><button>M</button></a>
                      </div>
                      <div class="LetraButton">
                        <a href="#"><button>N</button></a>
                      </div>
                      <div class="LetraButton">
                        <a href="#"><button>O</button></a>
                      </div>
                    </div>
                    <div class="LetraPesquisa">
                      <div class="LetraButton">
                        <a href="#"><button>P</button></a>
                      </div>
                      <div class="LetraButton">
                        <a href="#"><button>Q</button></a>
                      </div>
                      <div class="LetraButton">
                        <a href="#"><button>R</button></a>
                      </div>
                      <div class="LetraButton">
                        <a href="#"><button>S</button></a>
                      </div>
                      <div class="LetraButton">
                        <a href="#"><button>T</button></a>
                      </div>
                    </div>
                    <div class="LetraPesquisa">
                      <div class="LetraButton">
                        <a href="#"><button>U</button></a>
                      </div>
                      <div class="LetraButton">
                        <a href="#"><button>V</button></a>
                      </div>
                      <div class="LetraButton">
                        <a href="#"><button>W</button></a>
                      </div>
                      <div class="LetraButton">
                        <a href="#"><button>X</button></a>
                      </div>
                      <div class="LetraButton">
                        <a href="#"><button>Y</button></a>
                      </div>
                    </div>
                    <div class="LetraPesquisa">
                      <div class="LetraButton">
                        <a href="#"><button>Z</button></a>
                      </div>
                      <div class="LetraButton">
                        <a href="#"><button>#</button></a>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a href="sobre.html">SOBRE</a>
          </li>
          <li>
            <a href="minhaspubli.html">MINHAS PUBLICAÇÕES</a>
          </li>
          <li>
            <a href="indexlogout.html">SAIR</a>
          </li>
        </ul>

        <div class="footer">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> Todos os direitos reservados Street Slang |
            <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
              target="_blank">Colorlib.com</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>

      </div>
    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

          <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
          </button>
          <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
              <div class="box">
                <form name="search">
                  <input type="text" class="input" name="txt" onmouseout="this.value = ''; this.blur();">
                </form>
                <i class="fa fa-search"></i>
              </div>
            </ul>
          </div>
        </div>
      </nav>

      <h2 class="mb-4">INÍCIO</h2>
      <div class="publi">
        <div class="paragrafo">
          <h1>GOAT</h1>

          <p>GOAT (Greatest Of All Time) é uma expressão muito utilizada nos Estados Unidos e no mundo todo que serve
            para
            referênciar quando uma
            pessoa é a melhor do mundo naquilo que ela faz.
          </p>
          <h3>Exemplo</h3>
          <i>"Lionel Messi é o GOAT do futebol"</i>
          <p><b>Por: </b>luis4PF 25, Novembro, 2022</p>
          <div class="ButtonPublicacao">
            <i class=" LikePost fa fa-thumbs-o-up"></i>
            <i class="LikePost fa fa-thumbs-o-down"></i>
            <label for="toggle-1">
              <i class=" CommentIcon fa fa-comment-o" style="font-size: 38px;" aria-hidden="true"></i>
            </label>
            <!-- Button trigger modal -->
            <button class="ButtonDenuncia" id="myBtn">
              <i class=" denuncia fa fa-flag-o" aria-hidden="true"></i>
            </button>

            <div id="myModal" class="modal">
              <!-- Modal content -->
              <div class="modal-content">
                <div class="modal-header">
                  <h2 style="text-align: center;">DENÚNCIA</h2>
                  <span class="close">&times;</span>
                </div>
                <div class="modal-body">
                  <h3>Informe o motivo da denúncia</h3>
                  <form action="/action_page.php">

                    <div class="checkboxModal">
                      <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                      <label for="vehicle1"> Conteúdo ofensivo</label><br>
                      <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
                      <label for="vehicle2"> Contém informações pessoais</label><br>
                      <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                      <label for="vehicle3"> Foge da realidade</label><br>
                    </div>
                    <div>
                      <input class="alt_input" type="text"
                        placeholder="não é uma das opções acima? Digite o seu motivo" />
                    </div>
                </div>
                <br>
                <div class="modal-footer">
                  <input class="inputDenuncia" type="submit" value="Enviar">
                </div>
                </form>

              </div>

            </div>
          </div>
        </div>
      </div>
      <input type="checkbox" id="toggle-1">
      <div id="mostra" class="ComentarioArea">
        <div class="InputArea">
          <div>
            <img class="IconUsers" src="images/quavo.jpg" alt="">
          </div>
          <textarea type="text" class="input coment_input" placeholder="Escreva seu comentário..." v-model="newItem"
            @keyup.enter="addItem()"></textarea>
          <button class="coment_button ms-auto p-2 bd-highlight">
            <i class="bi bi-send" style="font-size: 25px;"></i>
          </button>
        </div>
      </div>

      <br>

      <div class="publi">
        <h1>WORD</h1>
        <div class="paragrafo">
          <p>Word (palavra) pode ser usado para indicar o quão impressionado a pessoa está
          </p>
          <h3>Exemplo</h3>
          <i>"Aquele negócio lá deu certo!!"</i>
          <br>
          <i>"Word??(ta falando sério??)"</i>
          <p><b>Por:</b> natan149 22, Novembro, 2022</p>
          <i class=" LikePost fa fa-thumbs-o-up"></i>
          <i class="LikePost fa fa-thumbs-o-down"></i>
          <label for="toggle-2">
            <i class=" CommentIcon fa fa-comment-o" style="font-size: 38px;" aria-hidden="true"></i>
          </label>
          <i class=" denuncia fa fa-flag-o" aria-hidden="true"></i>
        </div>
      </div>
      <input type="checkbox" id="toggle-2">
      <div id="mostra1" class="ComentarioArea">
        <div class="InputArea">
          <div>
            <img class="IconUsers" src="images/quavo.jpg" alt="">
          </div>
          <textarea type="text" max-value="10" class="input coment_input" placeholder="Escreva seu comentário..."
            v-model="newItem" @keyup.enter="addItem()"></textarea>
          <button class="coment_button ms-auto p-2 bd-highlight">
            <i class="bi bi-send" style="font-size: 25px;"></i>
          </button>
        </div>
      </div>
    </div>

    <script src="js/ModalDenuncia.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>