/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: 150px;
    padding: 0;
    border: 1px solid #888;
    max-width: 800px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: rgb(0, 0, 0);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #ffff00;
    color: white;
    align-items: center;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    display: flex;
    justify-content: center;
    padding: 2px 16px;
    background-color: rgba(0, 0, 0, 0.226);
    color: white;
}

.inputDenuncia {
    border-radius: 20px;
    border: 1px solid #000000;
    background-color: #ffffff;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.inputDenuncia:hover {
    background-color: #ffff00;
    color: rgb(0, 0, 0);
}

.inputDenuncia:active {
    transform: scale(0.95);

}


.ButtonDenuncia {
    border: none;
    background-color: transparent;
}

.alt_input {
    background-color: rgb(255, 253, 253);
    box-shadow: 1px 2px 3px 1px #00000031;
    border-color: #ffffff00;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    outline: 0;
}